---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'Blog';
---
<BaseLayout pageTitle={pageTitle}>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, nemo.</p>

  <ul>
    <li><a href="/posts/post-1">Introduction Post</a></li>
    <li><a href="/posts/post-2">Post 2</a></li>
    <li><a href="/posts/post-3">Post 3</a></li>
    <li><a href="/posts/learning-astro">Learning Astro</a></li>
  </ul>
</BaseLayout>
    
